body {
  background-color: rgb(248, 204, 222);
  background-image: image();
}

#canvas {
  border: 2px solid rgb(241, 93, 179);
  background: white;
}

img {
  position: relative;
}

h1 {
  margin-left: 0;
  display: flex;
  text-align: justify;
  color: rgb(21, 106, 233);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  display: flex;
  text-align: left;
  color: rgb(21, 106, 233);
  margin-left: 0;
  margin-right: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  display: flex;
  margin-right: 100px;
}

#main {
    display: flex;
    margin: 200px;
    /* margin: 0 auto; */
}